TwitterPrototypeJWS/WebContent/wsdl/Dashboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="retrieveAllTweets">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveAllTweetsResponse">
    <complexType>
     <sequence>
      <element name="retrieveAllTweetsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveAllTweetsRequest">

      <wsdl:part element="impl:retrieveAllTweets" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveAllTweetsResponse">

      <wsdl:part element="impl:retrieveAllTweetsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Dashboard">

      <wsdl:operation name="retrieveAllTweets">

         <wsdl:input message="impl:retrieveAllTweetsRequest" name="retrieveAllTweetsRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveAllTweetsResponse" name="retrieveAllTweetsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DashboardSoapBinding" type="impl:Dashboard">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="retrieveAllTweets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveAllTweetsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveAllTweetsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DashboardService">

      <wsdl:port binding="impl:DashboardSoapBinding" name="Dashboard">

         <wsdlsoap:address location="http://localhost:8080/TwitterPrototypeJWS/services/Dashboard"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
